################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SATURAN/bin
/SATURAN/Scripts/App/*.js
/SATURAN/Scripts/App/*.map
/SATURAN/node_modules
/SATURAN/typings

